* {
    margin: 0;
    padding: 0;
    /* color: white; */
}

/* .logo:hover {
    width: 140px;
    height: 100px;
} */

.logo {
    width: 100px;
    height: 70px;
    background-image: url(../img/logo.png);
    background-size: cover;
    border-radius: 50%;
}

/* .w{
    background-image: url(../img/b.avif); 
    background-repeat: no-repeat;
    background-size: cover;   
} */

.navigation {
    /* height: 74px; */
    margin-top: 25px;
    /* background-color: rgba(53, 54, 53, 0.1); */
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 20px;
    font-weight: bold;
}

.nav-left ul li {
    list-style: none;
    /* use to remove the point */
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    /*to use to remove ubderline*/
    /* color: white; */
    color: black;
    /* transition: all 0.3s ease-in-out; */
}

.nav-left ul li a:hover {
    /* color: wheat; */
    color: #222F3D;
    font-size: 23px;
    font-weight: 700;
}

/* it is process to background-image */

.content {
    height: 100%;
    /* background-color: skyblue; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url(../img/images\(4\).jfif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
    border-radius: 12px;
    opacity: 0.1;
}





.content-left {
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    z-index: 1;
}

.content-right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
}

.home-articles {
    padding: 23px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    border-radius: 12px;
    position: relative;
}

.year-box {
    position: absolute;
    width: 234px;
    height: 255px;
    /* background-color: rgb(208, 245, 245); */
    top: 100px;
    right: 0px;
    font-size: 18px;
    font-family: var(--font2);
}

.year-box div{
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 30px;
}

.home-article img {
    width: 250px;
    border-radius: 20px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: #222F3D;
}

.footer {
    height: 50px;
    background-color: #222F3D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}

/* .left{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../logo.png);
height: 50px;
width: 80px;
} */